build
bin
lib
cmake-build-*
.DS_Store
*.log
*.tmp
.idea/
.vscode/
*.swp
*.bak
*.out
*.exe
*.class
*.o
*.obj
*.dll
*.so
*.dylib
coverage/
dist/
node_modules/
.env
.env.local
.env.*.local
*.pyc
__pycache__/
*.pyo
*.egg-info/
.eggs/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.coverage